<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dss_Core::dss_menu" title="Dss" module="Dss_Core" sortOrder="20" resource="Magento_Backend::content"
            dependsOnConfig="dss_config/dss_menu/menu_enable"/>
        <add id="Dss_Core::dss_sub_menu" title="Dss Configration" module="Dss_Core" sortOrder="1"
            action="adminhtml/system_config/edit/section/dss_config"
            parent="Dss_Core::dss_menu" resource="Magento_Backend::content"/>
    </menu>
</config>
