<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dss_config>
            <dss_menu>
                <menu_enable>1</menu_enable>
            </dss_menu>
        </dss_config>
    </default>
</config>
